@import './variable.modules.scss';

.section {}

.carouselSlideLineGroup {
  hr {
    height: 4px;
    width: 40px;
    border: 0;
    background: #D100C9;
  }
}

.carouselSlide {}

.linearGradientOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  z-index: -1;
}