@import './variable.modules.scss';

.section {
  background-image: url('../../../public/Hero-Image.jpg');
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;


}

.projectButton {
  
}
