@import './variable.modules.scss';

.section {
  background-color: $primary-purple;
}

.content {
  max-width: 1280px;
}

.link {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  margin: 8px 16px;
}

.letsTalkButton {
  background-color: #fff;
  color: $primary-purple;
  font-weight: 700;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 50px;
  transition: all 0.5s;

  &:hover {
    box-shadow: 1px 2px 6px #33333360;
  }
}